body {
  font-family: "Times New Roman", Times, serif;
  font-size: 18px;
  margin: 20px;
}

.theme {
  font-size: 40px;
}

.first {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: justify;
  hyphens: auto;
}

.paragraph {
  padding-right: 20px;
  flex-basis: 400px;
}

.js-paragraph-style {
  color: aliceblue;
}

.js-body-background {
  background-color: black;
}

.js-theme {
  color: aliceblue;
}

.div-fieldset {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: justify;
  hyphens: auto;
}

fieldset {
  max-width: 900px;
  min-width: 400px;
}

.enviar-button {
  margin-top: 20px;
  display: block;
}

.content {
  font-family: "Times New Roman", Times, serif;
}

.cart-content-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 50px;
  width: 400px;
}

.cart-content-item {
  border: 1px solid black;
  padding: 10px;
}

.js-cart-content-item-black {
  border: 1px solid white;
}

.content {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
}

.grid-cell {
  width: 200px;
  height: 400px;
}

.product-image {
  height: 150px;
}
